/* Setting page defaults */
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
}

/* === Title Section ==== */
#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #202325;
}

/* Written out text has to be next to each other */
.text {
    flex-direction: row;
}

#title h1 {
    font-size: 11vw;
}

#title span {
    font-size: 6vw;
}

/* Education Section */
#school {
    position: relative;
    text-align: center;
    font-size: 5vw;
    min-height: 25vh;
    background-color: #202325;
    color: white;
}

.school-title {
    padding-top: 5vw;
}

.school-title span {
    color: #bb0000;
}
/* Text on desktop works perfectly but on mobile it's too small
    -- must fix later on */
#school h4 {
    font-size: 3.5vw;
}

.school-title img {
    width: 20%;
}

@media only screen and (min-width: 768px) {
    .mobile-break {
        display: none;
    }
    #school {
        font-size: 3vw;
    }
    #school h4 {
        font-size: 2vw;
    }
}

/* === Social Media Icons === */
#social-media {
    position: relative;
    text-align: center;
    background-color: #202325;
}

.fa {
    padding: 3vw;
    font-size: 4.5vw;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    margin: 3vw 1vw;
    border-radius: 50%;
    color: white;
}

@media only screen and (min-width: 768px) {
    .fa {
        padding: 1.5vw;
        font-size: 2.25vw;
        width: 5vw;
    }
}

.hoverable:hover { opacity: 0.7; }
.fa-twitter { background-color: #55acee; }
.fa-instagram { background-color: #bb0000; }
.fa-github { background-color: #00b489; }
.fa-linkedin { background-color: #007bb5; }
.fa-envelope-o { background-color: #ff6600; }

/* Github Repositories */
#git-repositories {
    min-height: 20vh;
}