/* Setting page defaults */
* {
    font-family: 'Poppins', sans-serif;
    background-color: bisque;
    padding: 0;
    margin: 0;
}

/* === Title Section ==== */
#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
/* Written out text has to be next to each other */
.text {
    flex-direction: row;
}

#title h1 {
    font-size: 11vw;
}

#title span {
    font-size: 6vw;
}

/* Education Section */
#school {
    position: relative;
    text-align: center;
    font-size: 3vw;
    min-height: 25vh;
}

#school h4 {
    font-size: 2vw;
}

.schoolTitle img {
    width: 20%;
}

#thin-text {
    font-weight: 300;
}