/* Setting page defaults */
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
}

/* === Title Section ==== */
#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #202325;
}

/* Written out text has to be next to each other */
.text {
    flex-direction: row;
}

#title h1 {
    font-size: 11vw;
}

#title span {
    font-size: 6vw;
}

/* Education Section */
#school {
    position: relative;
    text-align: center;
    font-size: 5vw;
    min-height: 25vh;
    background-color: #202325;
    color: white;
}

.school-title {
    padding-top: 5vw;
}

#school-green {
    color: #00b489;
}

#school-blue {
    color: #007bb5;
}

.school-title span {
    color: #bb0000;
}
/* Text on desktop works perfectly but on mobile it's too small
    -- must fix later on */
#school h4 {
    font-size: 3.5vw;
}

.school-title img {
    width: 20%;
}

@media only screen and (min-width: 768px) {
    .mobile-break {
        display: none;
    }
    #school {
        font-size: 3vw;
    }
    #school h4 {
        font-size: 2vw;
    }
}

/* === Social Media Icons === */
#social-media {
    position: relative;
    text-align: center;
    background-color: #202325;
}

.fa {
    padding: 3vw;
    font-size: 4.5vw;
    width: 6vw;
    text-align: center;
    text-decoration: none;
    margin: 3vw 1vw;
    border-radius: 50%;
    color: white;
}

@media only screen and (min-width: 768px) {
    .fa {
        padding: 1.5vw;
        font-size: 2.5vw;
        width: 2.75vw;
    }
}

.hoverable:hover { opacity: 0.7; }
.fa-twitter { background-color: #55acee; }
.fa-instagram { background-color: #bb0000; }
.fa-github { background-color: #00b489; }
.fa-linkedin { background-color: #007bb5; }
.fa-envelope-o, .fa-envelope-open-o { background-color: #ff6600; }

/* Github Repositories */
#git-repositories {
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: center;
}

.git-title {
    font-size: 3vw;
    margin-bottom: 3vh;
}

.git-row {
    text-align: center;
}

.row-top {
    margin-bottom: 6vh;
}

.left, .right {
    display: inline-block;
    vertical-align: top;
    width: 40vw;
    
}

.left {
    margin-right: 2vw;
}

.right {
    margin-left: 2vw;
}

.git-row h2 {
    text-align: left;
    font-size: 2.75vw;
    margin-bottom: 0.5vh;
}

.git-row p {
    font-size: 2.25vw;
    text-align: left;
}

@media only screen and (min-width: 768px) {
    #git-repositories {
        margin-top: 8vh;
        margin-bottom: 12vh;
    }

    .git-title {
        font-size: 2.5vw;
        margin-bottom: 5vh;
    }

    .left, .right {
        width: 30vw;
    }
    
    .git-row h2 {
        font-size: 2vw;
    }
    
    .git-row p {
        font-size: 1.5vw;
    }
}
